body {
    margin: 0;
    font-family: Arial;
    --base-distance: 48px;
    --color-purple: #7b4397;
    --color-grey-light: #eee;
    --color-grey-medium: #777;
    --color-grey-heavy: #222;
}

a {
    outline: none;
    text-decoration: none;
}

h1 {
    font-weight: 200;
    font-size: 27px;
}

h2 {
    color: var(--color-grey-medium);
    font-weight: 300;
    font-size: 20px;
}

small {
    display: block;
    font-size: 10px;
    color: var(--color-grey-medium);
    padding: 16px 0;
}